<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luckydeer.spider.dao.movie.dataInterface.MacVodDao">
	<resultMap id="BaseResultMap"
		type="cn.luckydeer.spider.dao.movie.dataObject.MacVodDo">
		<id column="vod_id" property="vodId" jdbcType="INTEGER" />
		<result column="vod_name" property="vodName" jdbcType="VARCHAR" />
		<result column="vod_class" property="vodClass" jdbcType="VARCHAR" />
		<result column="vod_pic" property="vodPic" jdbcType="VARCHAR" />
		<result column="vod_score" property="vodScore" jdbcType="DECIMAL" />
		<result column="vod_time_add" property="vodTimeAdd" jdbcType="INTEGER" />
		<result column="vod_content" property="vodContent" jdbcType="LONGVARCHAR" />
		<result column="vod_actor" property="vodActor" jdbcType="LONGVARCHAR" />
		<result column="vod_area" property="vodArea" jdbcType="VARCHAR" />
		<result column="vod_year" property="vodYear" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		vod_id,vod_name,vod_class,vod_pic,vod_score,vod_time_add,vod_content,vod_actor,vod_area,vod_year
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from mac_vod
		where vod_id = #{vodId,jdbcType=INTEGER}
	</select>

	<!-- 选取数据库最新添加的五条电影信息 -->
	<select id="selectTopFiveMovie" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM mac_vod
		where 1=1
		<if test="keyWord != null">
			and vod_name like
			CONCAT('%',#{keyWord,jdbcType=VARCHAR},'%')
		</if>
		and type_id_1='1'
		ORDER BY vod_time DESC
		limit 5
	</select>

</mapper>