<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luckydeer.spider.dao.cat.daoInterface.WxAppStatusDao" >
  <resultMap id="BaseResultMap" type="cn.luckydeer.spider.dao.cat.daoObject.WxAppStatusDo" >
    <id column="version_id" property="versionId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    version_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wx_app_status
    where version_id = #{versionId,jdbcType=VARCHAR}
  </select>
</mapper>